= javascript_pack_tag 'dashboard'

#dashboard
  %app-nav{ 'active-link' => 'dashboard' }
  %b-container{ fluid: '', style: 'margin-top: 1rem;' }
    %b-row
      %b-card-group{ deck: '' }
        %b-col{ 'v-for' => 'machine in orderedMachines' , ':key' => 'machine.id' }
          %b-card.mb-2{ style: 'max-width: 20rem; min-width: 10rem;',
                        align: 'center',
                        ':bg-variant' => 'machine.last_logged_status.status.display_colour',
                        ':text-variant' => 'machine.last_logged_status.status.text_colour',
                        'border-variant' => 'primary',
                        ':title' => 'machine.name',
                        ':sub-title' => 'machine.location' }
            %p.card-text {{ machine.last_logged_status.status.name }}
    %b-row
      %b-button{ 'v-on:click' => 'sendMessage' }
        Click
